canvas {
    background-color: #222;
    width: 100%;
    height: auto;
  }

main {
    max-width: 1260px;
    margin: auto;
}

h1 {
      font-size: 100%;
      margin-top: 10%;
      text-align: right;
      font-family: 'Orbitron', sans-serif;font-family: 'Orbitron', sans-serif;
      color: rgb(228, 217, 122);
      margin-right: 12%;
}

h3 {
    font-family: 'Orbitron', sans-serif;font-family: 'Orbitron', sans-serif;
}

#points {
  margin-left: 20%;
  margin-top: -10%;
}
  
#game{
    margin-top: 0;
    left: 30;
    margin-bottom: 25%;
}

 #terebi {
    width: 90%;
    height: auto;
    background-image: url('old_tv_empty_screen.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

  #katakana {
    position: absolute;
    text-align: center;
    margin: auto;
    margin-top: -100%;
    margin-left: -2%;
    width: 100%;
    height: auto;
}

  .container {
    width: 30%;
    position: relative;
    text-align: center;
    margin: auto;
}

p {
    
    font-weight: 700;
    font-size: 280%;
    position: absolute;
    width: 100%;
    top: 25%;
    left: 32%;
    transform: translate(-30%, -30%);
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(49, 55, 59, .7);
    padding: auto;
    visibility: visible;
  }
  


 

 #racequote {
  font-family: 'Orbitron', sans-serif;font-family: 'Orbitron', sans-serif;
   padding: 15% 40% 15% 2%;
   font-size: 14px;
   
 }
    

  .blinking{
    animation:blinkingText 0.5s infinite;  
}

@keyframes blinkingText{
    0%{     color: rgb(255, 255, 255);    }
    49%{    color: rgb(197, 189, 189); }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: rgb(255, 255, 255);    }
}

#message {
  visibility: hidden;
  margin-top: -31%;
  z-index: 1;
  width: 30%;
  background-image: url('tell.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  transition: 2s;
  
}

#instructions {
  /* margin-top: -40%; */
  text-align: center;
  margin-bottom: 0;
}

#instructions2 {
  margin-top: 12%;
  text-align: center;
  background-color: rgb(0, 0, 0, .3);
}

#cheers{
  background-image: url('https://cdn2.vectorstock.com/i/1000x1000/00/01/manga-comics-radial-speed-lines-vector-1520001.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  height: 600%;
  font-size: 40px;
  margin-left: 70%;
  margin-top: -15%;
  visibility: hidden;
}

.slide {
  /* for chrome and safari*/
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slidein;

  /*for firefox*/
  -moz-animation-duration: 1s;
  -moz-animation-name: slidein;

    /* for opera*/
  -o-animation-duration: 1s;
  -o-animation-name: slidein;

    /* Standard syntax*/
  animation-duration: 1s;
  animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
      margin-left: 100%;
      width: 100%;
  }

  to {
      margin-left: 0%;
      width: 100%;
  }
}

@-moz-keyframes slidein {
  from {
      margin-left: 100%;
      width: 100%;
  }

  to {
      margin-left: 0%;
      width: 100%;
  }
}
@-o-keyframes slidein {
  from {
      margin-left: 100%;
      width: 100%;
  }

  to {
      margin-left: 0%;
      width: 100%;
  }
}
@keyframes slidein {
  from {
      margin-left: 100%;
      width: 100%;
  }

  to {
      margin-left: 0%;
      width: 100%;
}
}

@media only screen and (min-width: 950px) and (max-width:  1250px){
 
  main{
    width: 950px;
    margin: auto;
  }
    

#cheers {
  font-size: 20px;
  margin-top: -10%;
}

#racequote {
  padding: 15% 48% 15% 2%;
}

#message {
  margin-top: -35%;
}


#instructions2 {
  margin-top: 20%;
  text-align: center;
}

#game {
  width: 120%;
  margin-left: -30%;
  margin-top: 10%;
}

#katakana{
 margin-left: -15%;

}

#points {
  margin-top: -15%;
  margin-left: 15]%;
}
  
}


@media only screen and (min-width: 600px) and (max-width:  950px){
  #terebi {
    width: 100%;
    height: auto;
     background-size: 0%;
  
}
 #game {
   width: 200%;
   margin: auto;
 }
 #message {
  margin-top: -60%;
}

#katakana{
  margin-left: -110%;
  font-size: 10px;
  margin-top: -80%;
}

#cheers {
  font-size: 15px;
  width:30%;
  margin-left: 2%;
  margin-top: 55%;
}

#instructions2 {
  margin-top: 15%;

}

#points {
  margin-top: -50%;
}

}